- id: startup_chase
  mode: restart
  then:
    - script.execute: stop_addressable_effects
    - light.turn_on:
        id: base_lights
        effect: "Startup Chase"
    - light.turn_on:
        id: canopy_lights
        effect: "Startup Chase"
    - delay: 10s
    - script.execute: apply_default_animation

- id: warning_chase
  mode: restart
  then:
    - light.turn_on:
        id: base_lights
        effect: "Warning Chase"
    - light.turn_on:
        id: canopy_lights
        effect: "Warning Chase"

- id: testing_chase
  mode: restart
  then:
    - light.turn_on:
        id: base_lights
        effect: "Testing Chase"
    - light.turn_on:
        id: canopy_lights
        effect: "Testing Chase"

- id: stop_addressable_effects
  mode: restart
  then:
    - script.execute: apply_default_animation

- id: apply_default_animation
  mode: restart
  then:
    - choose:
        - condition:
            lambda: 'return id(addressable_default_animation).state == "Off";'
          sequence:
            - light.turn_off: base_lights
            - light.turn_off: canopy_lights
        - condition:
            lambda: 'return id(addressable_default_animation).state == "Solid White";'
          sequence:
            - light.turn_on:
                id: base_lights
                brightness: 100%
                red: 100%
                green: 100%
                blue: 100%
            - light.turn_on:
                id: canopy_lights
                brightness: 100%
                red: 100%
                green: 100%
                blue: 100%
        - condition:
            lambda: 'return id(addressable_default_animation).state == "Solid Blue";'
          sequence:
            - light.turn_on:
                id: base_lights
                brightness: 100%
                red: 0%
                green: 0%
                blue: 100%
            - light.turn_on:
                id: canopy_lights
                brightness: 100%
                red: 0%
                green: 0%
                blue: 100%
