esphome:
  name: terrashroom-camera
  friendly_name: Terrashroom Camera
  name_add_mac_suffix: true
  project:
    name: terrashroom.camera
    version: "0.0.1"

esp32:
  board: esp32cam
  framework:
    type: arduino

logger:
  level: INFO

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: TerrashroomCam-Fallback
    password: "terrashroom"

captive_portal:

ota:
  platform: esphome
  password: !secret ota_password

web_server:
  port: 80
  version: 3

# TODO: Define camera module pins, sensors, and MQTT/API glue once we migrate the camera firmware.
