esphome:
  name: terrashroom
  friendly_name: Terrashroom Chamber
  name_add_mac_suffix: true
  project:
    name: terrashroom.chamber
    version: "0.0.3"
  platformio_options: 
    # These are explicitly necesssary to avoid
    platform: "espressif32@6.12.0"
    platform_packages:
      - "platformio/framework-espidf@~3.50402.0"
    board_build.flash_mode: "dio"   # keep DIO (safe default)
    extra_scripts: 
      # Fixes some weirdness with the environment and getting files to the right place
      - "post:../../../scripts/cancel_binary_merge.py"
  on_boot:
    priority: -10
    then:
      - logger.log:
          tag: system
          level: INFO
          format: "Turning fan off to start in case of a messy shutdown state."
      - output.turn_off: fan1_pwm

esp32:
  board: esp32dev
  framework:
    type: esp-idf

# Serial logging is useful during the first USB flash.
logger:
  level: VERY_VERBOSE

# Web UI + REST (fulfilled by ESPHome web_server component).
web_server:
  port: 80
  version: 3
  auth:
    username: admin
    password: !secret web_password

# OTA + Safe Mode (already on by default) per acceptance criteria.
ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  power_save_mode: none
  ap:
    # if fallback is joined, IP is maybe 192.164.4.1
    ssid: PHONE-HOTSPOT
    password: "phonehotspotpassword"
  manual_ip:
    static_ip: 192.168.4.50 # this will also be the site to go to (for web server reference)
    # The subnet of the network. 255.255.255.0 works for most home networks.
    subnet: 255.255.255.0
    # Set this to the IP address of the router (public facing)
    gateway: 192.168.4.1
  # In order to make sure we're on the right IP / the static IP was available, we log this for emergency serial use
  on_connect:
    - wait_until:
        condition:
          lambda: 'return !id(ip_addr).state.empty();'
    - logger.log:
        tag: network
        level: INFO
        format: "Booted. Current IP: %s"
        args: [ 'id(ip_addr).state.c_str()' ]
    - script.execute: startup_chase
  on_disconnect:
    - logger.log:
        tag: network
        level: WARN
        format: "Wi-Fi disconnected, running warning chase"
    - script.execute: warning_chase

text_sensor:
  - platform: wifi_info
    ip_address:
      id: ip_addr
      name: "Terrashroom IP"

i2c:
  sda: GPIO21
  scl: GPIO22
  scan: true
  frequency: 100kHz

sensor: !include includes/sensors_hdc1080.yaml

binary_sensor: !include includes/binary_sensors.yaml

number:
  - platform: template
    name: "Blower Speed"
    id: blower_speed_number
    min_value: 0.392
    max_value: 1.0
    step: 0.01
    mode: slider
    lambda: |-
      return id(blower_last_level);
    set_action:
      then:
        - lambda: |-
            id(blower_last_level) = x;
            if (id(blower_enabled)) {
              id(blower_pwm).set_level(x);
            }

button:
  - platform: template
    name: "Read Water Level"
    entity_category: diagnostic
    on_press:
      - script.execute: water_level_self_test

output:
  #Fan 1
  - platform: ledc
    pin: GPIO32
    frequency: 20 kHz
    id: fan1_pwm

  #Fan 2
  - platform: ledc
    pin: GPIO33
    frequency: 20 kHz
    id: fan2_pwm

  # Blower
  - platform: ledc
    pin: GPIO25
    frequency: 20 kHz
    id: blower_pwm

  #Atomizer
  - platform: ledc
    pin: GPIO13
    frequency: 20 kHz
    id: atomizer_pwm

  #Heater
  - platform: ledc
    pin: GPIO12
    frequency: 400 Hz
    id: heater_pwm

light:
  - platform: monochromatic
    name: "Fan 1 Output"
    output: fan1_pwm
    default_transition_length: 1s
  - platform: monochromatic
    name: "Fan 2 Output"
    output: fan2_pwm
    default_transition_length: 1s
  - platform: monochromatic
    name: "Atomizer Output"
    output: atomizer_pwm
    default_transition_length: 1s
  - platform: monochromatic
    name: "Heater Output"
    output: heater_pwm
    default_transition_length: 1s
  - platform: esp32_rmt_led_strip
    id: base_lights
    name: "Base Lights"
    rgb_order: GRB
    chipset: WS2812
    pin: GPIO5
    num_leds: 24
    default_transition_length: 0s
    effects:
      - addressable_lambda:
          name: "Startup Chase"
          update_interval: 50ms
          lambda: |-
            static uint16_t step = 0;
            for (int i = 0; i < it.size(); i++) {
              if ((i + step) % 6 == 0) {
                it[i] = Color(0, 255, 0);
              } else {
                it[i] = Color::BLACK;
              }
            }
            step++;
      - addressable_lambda:
          name: "Warning Chase"
          update_interval: 60ms
          lambda: |-
            static uint16_t step = 0;
            for (int i = 0; i < it.size(); i++) {
              if ((i + step) % 6 == 0) {
                it[i] = Color(255, 0, 0);
              } else {
                it[i] = Color::BLACK;
              }
            }
            step++;
      - addressable_lambda:
          name: "Testing Chase"
          update_interval: 60ms
          lambda: |-
            static uint16_t step = 0;
            for (int i = 0; i < it.size(); i++) {
              if ((i + step) % 6 == 0) {
                it[i] = Color(255, 255, 0);
              } else {
                it[i] = Color::BLACK;
              }
            }
            step++;
  - platform: esp32_rmt_led_strip
    id: canopy_lights
    name: "Canopy Lights"
    rgb_order: GRB
    chipset: WS2812
    pin: GPIO14
    num_leds: 64
    default_transition_length: 0s
    effects:
      - addressable_lambda:
          name: "Startup Chase"
          update_interval: 50ms
          lambda: |-
            static uint16_t step = 0;
            for (int i = 0; i < it.size(); i++) {
              if ((i + step) % 6 == 0) {
                it[i] = Color(0, 255, 0);
              } else {
                it[i] = Color::BLACK;
              }
            }
            step++;
      - addressable_lambda:
          name: "Warning Chase"
          update_interval: 60ms
          lambda: |-
            static uint16_t step = 0;
            for (int i = 0; i < it.size(); i++) {
              if ((i + step) % 6 == 0) {
                it[i] = Color(255, 0, 0);
              } else {
                it[i] = Color::BLACK;
              }
            }
            step++;
      - addressable_lambda:
          name: "Testing Chase"
          update_interval: 60ms
          lambda: |-
            static uint16_t step = 0;
            for (int i = 0; i < it.size(); i++) {
              if ((i + step) % 6 == 0) {
                it[i] = Color(255, 255, 0);
              } else {
                it[i] = Color::BLACK;
              }
            }
            step++;

globals:
  - id: blower_last_level
    type: float
    initial_value: "0.392"
  - id: blower_enabled
    type: bool
    initial_value: "true"

script:
  - id: water_level_self_test
    mode: restart
    then:
      - logger.log:
          tag: water
          level: INFO
          format: "Running water level self-test"
      - switch.turn_on: water_read_enable_switch
      - delay: 50ms
      - lambda: |-
          bool low = id(water_level_sensor).state;
          if (low) {
            ESP_LOGW("water", "Water level sensor reports LOW during self-test");
          } else {
            ESP_LOGI("water", "Water level sensor reports OK during self-test");
          }
          id(water_level_sensor).publish_state(low);
      - switch.turn_off: water_read_enable_switch
  - id: startup_chase
    mode: restart
    then:
      - script.execute: apply_default_animation
  - id: warning_chase
    mode: restart
    then:
      - light.turn_on:
          id: base_lights
          effect: "Warning Chase"
      - light.turn_on:
          id: canopy_lights
          effect: "Warning Chase"
  - id: testing_chase
    mode: restart
    then:
      - light.turn_on:
          id: base_lights
          effect: "Testing Chase"
      - light.turn_on:
          id: canopy_lights
          effect: "Testing Chase"
  - id: stop_addressable_effects
    mode: restart
    then:
      - script.execute: apply_default_animation
  - id: apply_default_animation
    mode: restart
    then:
      - if:
          condition:
            lambda: 'return strcmp(id(addressable_default_animation).current_option(), "Off") == 0;'
          then:
            - light.turn_off: base_lights
            - light.turn_off: canopy_lights
          else:
            - if:
                condition:
                  lambda: 'return strcmp(id(addressable_default_animation).current_option(), "Solid White") == 0;'
                then:
                  - light.turn_on:
                      id: base_lights
                      brightness: 100%
                      red: 100%
                      green: 100%
                      blue: 100%
                  - light.turn_on:
                      id: canopy_lights
                      brightness: 100%
                      red: 100%
                      green: 100%
                      blue: 100%
                else:
                  - light.turn_on:
                      id: base_lights
                      brightness: 100%
                      red: 0%
                      green: 0%
                      blue: 100%
                  - light.turn_on:
                      id: canopy_lights
                      brightness: 100%
                      red: 0%
                      green: 0%
                      blue: 100%

select:
  - platform: template
    name: "Addressable Default Animation"
    id: addressable_default_animation
    optimistic: true
    options:
      - "Off"
      - "Solid White"
      - "Solid Blue"
    initial_option: "Solid White"
    set_action:
      - script.execute: apply_default_animation

switch:
  - platform: template
    name: "Blower Enable"
    id: blower_enable_switch
    restore_mode: RESTORE_DEFAULT_OFF
    turn_on_action:
      - lambda: |-
          id(blower_enabled) = true;
          id(blower_pwm).set_level(id(blower_last_level));
    turn_off_action:
      - lambda: |-
          id(blower_enabled) = false;
          id(blower_pwm).turn_off();
  - platform: template
    name: "Testing Animation"
    id: testing_animation_switch
    restore_mode: RESTORE_DEFAULT_OFF
    turn_on_action:
      - script.execute: testing_chase
    turn_off_action:
      - script.execute: apply_default_animation
  - platform: gpio
    name: "UV LED"
    pin: GPIO18
    restore_mode: RESTORE_DEFAULT_OFF
  - platform: gpio
    id: water_read_enable_switch
    name: "Water Read Enable"
    pin: GPIO15
    restore_mode: RESTORE_DEFAULT_OFF
  - platform: gpio
    name: "Camera Power"
    pin: GPIO26
    restore_mode: RESTORE_DEFAULT_OFF
